flask  # Flask is a lightweight WSGI web application framework.
flask-cors # A Flask extension for handling Cross Origin Resource Sharing (CORS), making cross-origin AJAX possible.


gdown # Download a large file from Google Drive

-e . # Install the object_detection package in editable mode